<h1>Add to your ingredients</h1>
<div id="ingredient_form">
  <%= simple_form_for @ingredient, url: create_path() do |i| %>
    <%= i.input :name %>
    <%= i.button :submit, "Add an ingredient" %>
  <% end %>
</div>